<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User profile</title>
</head>
<body>
<div>
    <h2><p>User personal data</p></h2>
</div>
<h3><label for="id:">id</label></h3>
<td th:text="${user.getId()}">value</td>
<br><br>
<h3><label for="login name">login name</label></h3>
<td th:text="${user.getUsername()}">value</td>
<br><br>
    <h3><label for="password">password</label></h3>
<td th:text="${user.getPassword()}">value</td>
<br><br>
<h3> <label for="role">role</label></h3>
        <td th:text="${user.getRoles()}"></td>
<br><br>
<form th:action="@{/logout}" method="POST">
    <input type="submit" value="Logout"/>
</form>
</body>
</html>